

<md-toolbar class=" md-accent chat-header">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" hide-gt-sm aria-label="Sidebar" ng-click="toggleSideBar()">
      <md-icon>menu</md-icon>
    </md-button>
    <h2>
      <span><strong>{{chat.jid.local}}</strong>@{{chat.jid.domain}}</span><small>{{chat.subject}}</small>
    </h2>
    <span flex></span>
    <md-button class="md-icon-button" aria-label="More" ng-click="rename()">
      <md-icon>edit</md-icon>
    </md-button>
    <md-button class="md-icon-button" aria-label="Favorite" ng-click="goOnline()" ng-show="!chat.online && chat.type=='groupchat'">
      <md-icon>chat_bubble_outline</md-icon>
      <md-tooltip>Join This Conference</md-tooltip>
    </md-button>
    <md-button class="md-icon-button" aria-label="Favorite" ng-click="goOffline()" ng-show="chat.online && chat.type=='groupchat'">
      <md-icon>chat</md-icon>
      <md-tooltip>Leave Conference</md-tooltip>
    </md-button>


    <md-menu md-position-mode="target-right target">
      <md-button aria-label="" class="md-icon-button " ng-click="$mdOpenMenu()">
        <md-icon md-menu-origin>more_vert</md-icon>
      </md-button>
      <md-menu-content width="4">
        <md-menu-item>
          <md-button ng-click="setNotify('always')">
            <md-icon md-menu-align-target>{{ !chat.notify||chat.notify=='always' ? 'check' : ''}}</md-icon>
            Always notify
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="setNotify('mention')">
            <md-icon md-menu-align-target>{{ chat.notify=='mention' ? 'check' : ''}}</md-icon>
            On mention
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="setNotify('never')">
            <md-icon md-menu-align-target>{{ chat.notify=='never' ? 'check' : ''}}</md-icon>
            Never notify
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="delete()">
            <md-icon md-menu-align-target>delete</md-icon>
            Delete
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>


  </div>
</md-toolbar>

<div ng-class="{occupants:true, open:occupants_expanded}" flex=0>
  <md-button class="md-icon-button btn" ng-click="occupants_expanded=!occupants_expanded;">
    <md-icon>expand_{{ occupants_expanded ? 'less' : 'more' }}</md-icon></md-button>
  <div class="content">
    <span ng-repeat="(nick,occupant) in chat.occupants"
          title="{{occupant.jid.toString()}}"
          ng-class="occupant.chatState">
      {{occupant.nick}}
    </span>
  </div>
  <!--<md-chips>
    <md-chip ng-repeat="(nick,occupant) in chat.occupants" title="{{occupant.jid}}">
      {{occupant.nick}}
    </md-chip>
  </md-chips>  -->
</div>

  <md-content scroll-down style="overflow:auto;height:0;" flex>
    <md-list layout-padding class="messages">
      <md-list-item class="sub-header-line" ng-repeat-start="message in chat.messages" ng-if="$index >= skipItemCount && message.header">
        {{message.dateTime | date: "EEE, dd.MM.yyyy"}}
      </md-list-item>
      <md-list-item class="md-3-line" ng-repeat-end ng-if="$index >= skipItemCount">
        <div class="md-avatar" style="background-color: {{message.from.resource|pastel_colour}}" title="{{message.from}}">{{message.from.resource|first_letter}}</div>
        <div class="md-list-item-text" ng-if="message.body">
          <span class="date" ng-if="message.sending">Sending ...</span>
          <span class="date" ng-if="!message.sending">{{message.dateTime | date: "HH:mm:ss"}}</span>
          <b class="user" ng-if="chat.type=='chat'">{{message.from.local}}<span>@{{message.from.domain}}/{{message.from.resource}}</b>
          <b class="user" ng-if="chat.type!='chat'">{{message.from.resource}}</b>
          <p ng-bind-html="message.body | formatMessage"></p>
        </div>
        <div class="md-list-item-text" ng-if="message.subject">
          <p>*** {{message.from.resource}} set the subject to: <b>{{message.subject}}</b></p>
        </div>
      </md-list-item>
    </md-list>
    <div class="typing-notice" ng-repeat="occupant in chat.occupants" ng-if="occupant.chatState=='composing'">
      {{occupant.nick}} is typing a message...
    </div>
    <div class="typing-notice" ng-if="chat.chatState=='composing'">
      {{chat.name}} is typing a message...
    </div>
  </md-content>

<div class="send-message">
    <textarea ng-model="chat.composing" chat-write-message paste-image on-send-message="sendMessage()"></textarea>
</div>
