
<div ng-controller="SidebarCtrl" layout="column" flex class="sidebar">
    <header class="nav-header" layout="row">
      
      <span flex class="user-id">{{user.jid}}</span>
      <span>
        <md-menu md-position-mode="target-right target">
          <md-button aria-label="Open phone interactions menu" class="md-icon-button " ng-click="$mdOpenMenu()">
            <md-icon md-menu-origin>settings</md-icon>
          </md-button>
          <md-menu-content width="4">
            <md-menu-item>
              <md-button ng-click="ctrl.redial($event)">
                <md-icon md-menu-align-target>settings</md-icon>
                Preferences
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button disabled="disabled" ng-click="ctrl.checkVoicemail()">
                <md-icon>plus</md-icon>
                Add account
              </md-button>
            </md-menu-item>
            <md-menu-divider></md-menu-divider>
            <md-menu-item>
              <md-button ng-click="ctrl.toggleNotifications()">
                <md-icon>notifications {{ctrl.notificationsEnabled ? 'off' : 'active'}}</md-icon>
                {{ctrl.notificationsEnabled ? 'Disable' : 'Enable' }} notifications
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="doLogout()">
                <md-icon md-menu-align-target>close</md-icon>
                Log out
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </span>
    </header>

    <md-content flex role="navigation">
      <ul class="side-menu">
        <li><a ng-href="#/welcome" ng-class="{active:currentPage=='/welcome'}">hallo</a></li>
        <li><h2 class="menu-heading md-subhead">Conversations</h2></li>
        <li ng-repeat="conv in conversations">
          <a ng-href="#/chat/{{conv.jid.bare | escape}}" ng-class="{active:conv.currentViewed}">
            <md-icon >chat{{conv.autoJoin ? '' : '_bubble_outline'}}</md-icon>
            {{conv.jid.bare}}</a>
        </li>
      </ul>
    </md-content>
</div>
  