
<div layout-padding layout="row">
  <div flex>
    <md-card>
      <img src="/images/stock1.jpg">
      <md-card-content>
        <h2 class="md-title">Join a Chat Room</h2>
        <p>
          To join a chat room, simply enter its jabber id in the box below
        </p>
      </md-card-content>
      <div class="md-actions" layout style="border-top: 1px solid #eee; padding: 1px 15px 3px">
        <md-input-container flex md-no-float style="padding-bottom:5px">
          <input type="text" ng-model="joinJid" placeholder="something@chat.example.org">
        </md-input-container>
        <md-button>Join</md-button>
      </md-card-footer>
    </div>
  </div>
    <div flex>
      <md-card>
        
          <img src="/images/stock2.jpg">
        <md-card-content>
          <h2 class="md-title">Use Bonfire As Your IRC Bouncer</h2>
          <p>
            Bonfire Web can connect to your favorite IRC servers on your behalf 
            and keep the connection open while you are away. This allows you to 
            read the backlog from all your devices.
          </p>
        </md-card-content>
        <div class="md-actions" layout="row" style="border-top: 1px solid #eee; padding: 1px 15px 3px">
          <md-button class="md-primary "><md-icon>add</md-icon> Connect to IRC server</md-button>
        </div>
      </md-card>
    </div>
</div>
