

<md-toolbar class=" ">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" hide-gt-sm aria-label="Sidebar" ng-click="toggleSideBar()">
      <md-icon>menu</md-icon>
    </md-button>
    <h2>
      <md-icon>home</md-icon> <span>Welcome to Bonfire Web Chat</span>
    </h2>
  </div>
</md-toolbar>

<div layout-padding layout-gt-md="row" flex style="background:-webkit-linear-gradient(bottom left, #fefefe 0%,#efefef 100%);">
  <div flex>
    <md-card>
      <md-card-content>
        <h2 class="md-title">Contacts</h2>
        <md-content style="height:300px"  >
        <div ng-repeat="contact in contacts">
          <a href="#" ng-click="startConversation(contact)">{{ contact.jid.bare }}</a>
        </div>
      </md-content>
      </md-card-content>
      <div class="md-actions" layout style="border-top: 1px solid #eee; padding: 1px 15px 3px">

        <md-button>Add contact</md-button>
      </div>
    </md-card>
  </div>
  <div flex>
    <md-card>
      <img src="/images/800x150.jpg">
      <md-card-content>
        <h2 class="md-title">Join a Chat Room</h2>
        <p>
          To join a chat room, simply enter its jabber id in the box below
        </p>
      </md-card-content>
      <form class="md-actions" ng-submit="joinRoom();" layout style="border-top: 1px solid #eee; padding: 1px 15px 3px">
        <md-input-container flex md-no-float style="padding-bottom:5px">
          <input type="email" ng-model="joinJid" placeholder="something@chat.example.org">
        </md-input-container>
        <md-button>Join</md-button>
      </form>
    </md-card>
    <!--<md-card>
      <md-card-content>
        <h2 class="md-title">Use Bonfire As Your IRC Bouncer</h2>
        <p>
          Bonfire Web can connect to your favorite IRC servers on your behalf
          and keep the connection open while you are away. This allows you to
          read the backlog from all your devices.
        </p>
      </md-card-content>
      <div class="md-actions" layout="row" style="border-top: 1px solid #eee; padding: 1px 15px 3px">
        <md-button class="md-primary "><md-icon>add</md-icon> Connect to IRC server</md-button>
      </div>
    </md-card>-->
  </div>
</div>
